/*-- scss:defaults --*/

// Color Palette
$dark-orange: #D47D09;
$light-orange: #EDC9A4;
$light-gray: #E3EDED;
$dark-gray: #787FA4;
$dark-green: #011700;
$darker-green: #0A0600;

// Import Google Fonts
@import url('https://fonts.googleapis.com/css2?family=cambria:ital,wght@0,100..900;1,100..900&family=cambria:ital,wght@0,100..900;1,100..900&display=swap');

// Fonts
$cambria: "cambria", serif;

.navbar-brand img {
  max-height: 40px;
  width: auto;
  font: $cambria;
}

// Quarto Sass Variables
$body-bg: $light-gray;
$lin-color: $dark-gray;
$navbar-bg: $dark-green;
$navbar-fg: $light-orange;
$navbar-hl: $dark-orange;
$footer-bg: $dark-gray;

/*-- scss:rules --*/

body {
  background-color: $light-gray;
  color: $dark-green;
  font-family: $cambria;
}

h1, h2 {
  letter-spacing: 4px;
  font-weight: 800;
  color: $dark-green;
  font-family: $cambria;
}

.title {
  color: $dark-green;
  font: $cambria;
  text-shadow: 1px 1px 3px $light-orange;
}

.orange-text {
  color: $dark-orange;
  text-align: center;
  font: cambria;
}

.sneaky-text {
  color: $light-gray;
  text-align: center;
}

